* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.login-mode{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}

.wrapper{
    position: relative;
    width: 750px;
    height: 450px;
    background: transparent;
    border: 2px solid skyblue;
    box-shadow: 0 0 25px skyblue;
    overflow: hidden;
    background: navy;

}

.wrapper .form-box.login{
    left: 0;
    padding: 0 60px 0 40px;
}

.wrapper .form-box{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-box h2{
    font-size: 32px;
    color: white;
    text-align: center;
}

.form-box .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    font-size: 16px;
    color: white;
    font-weight: 500;
    padding-right: 23px;
    transition: 0.3s;
}

.input-box input:focus,
.input-box input:valid {
    border-bottom-color: #0ef;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: white;
    pointer-events: none;
    transition: 0.3s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
    color: #0ef;
}

.btn{
    position: relative;
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid skyblue;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;

}

.btn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 300%;
    top: -100%;
    left: 0;
    background: linear-gradient(black, skyblue);
    z-index: -1;
    transition: 0.3s;
}

.btn:hover::before{
    top: 0;
}

.wrapper .info-text{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper .info-text.login{
    right: 0;
    text-align: right;
    padding: 0 40px 60px 150px;
}

.info-text h2{
    font-size: 36px;
    color: white;
    line-height: 1.3;
    text-transform: uppercase;
}

.wrapper .bg-animate{
    position: absolute;
    top: 0;
    right: 0;
    width: 850px;
    height: 600px;
    background: linear-gradient(45deg, black, skyblue);
    transform: rotate(10deg) skewY(40deg);
    transform-origin: bottom right;
}