.table_container caption {
    caption-side: top;
    font-size: 24px;
    font-weight: bold;
    color: black;
    padding: 10px;
    text-align: center;
}

.table_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%) scale(0.9);
    transition: 0.3s;
    opacity: 0;
    pointer-events: none;
    z-index: 11000;
    background: white;
    border-radius: 12px;
}

.table_container.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.table_container table {
    width: 100%;              /* bảng đầy trong container */
    border-collapse: collapse;
}

.table_container h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}

.table_container tr{
    color: black;
    border-top: 1px solid black;
}

.table_container tr:hover {
    background-color: rgba(0, 255, 0, 0.1);
    transition: 0.3s;
}

.table_container td {
    text-align: center;
    color: black;
    border-top: 1px solid black;
}
.table_container table th, .table_container table td{
    text-align: center;
    padding: 12px 15px;
}

/* Màu trạng thái */
.status.done {
    color: #00ff88;
    font-weight: bold;
}

.status.shipping {
    color: #ffcc00;
    font-weight: bold;
}

.status.canceled {
    color: #ff4444;
    font-weight: bold;
}