@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #4daf54;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #f4f4f4;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
}

.sidebar {
    width: 20%;
    padding: 40px 0;
    color: black;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    background: #FFFFFF;
    border: 5px solid rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    text-align: center;
    z-index: 10000;
}

.container {
    width: 80%;

    padding-left: 20px;
}

h1 {
    text-align: left;
    color: white;
    margin-bottom: 10px;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    pointer-events: none;
    user-select: none;
}

h3 {
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    pointer-events: none;
    user-select: none;
}

.main-wrapper {
    display: flex;
    margin: 0 20px;
    gap: 10px;
    margin-bottom: 40px;
}


.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    justify-items: center;
}

.card {
    min-width: 0;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 15px;
    color: black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 3px solid rgba(0, 0, 0, 0.1);
    z-index: 0;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.card_heart {
    font-size: 25px;
    position: absolute;
    left: 15px;
    top: 15px;
    cursor: pointer;
    transition: 0.5s;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}



.card_content {
    padding: 10px 15px;
}

.card_img img {
    width: 85%;
    height: 220px;
    object-fit: contain;
    margin: 10px auto;
    display: block;
}

.card_img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.card_title,
.card_price {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin: 8px 0;

}

.card_title {
    color: var(--primary-color);
}

.card_price {
    color: black;
}




.card_description {
    font-size: 14px;
    text-align: left;
    font-weight: normal;
    color: #666;
    margin: 8px 0;
    line-height: 1.4;
}

.card_color {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.card_color h3 {
    font-size: 14px;
    margin-right: 10px;
    color: black;
}

.card_color span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0px 5px;
    cursor: pointer;
    border: 2px solid grey;
    transition: border 0.3s;
}

.card_color span:hover {
    border-color: var(--primary-color);
}

.card_action button {
    background-color: var(--primary-color);
    border: none;
    outline: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.card_action button:hover {
    background-color: #3e8e41;
}

.card_buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.card_heart .bx-heart {
    display: block;
}


.card_heart .bxs-heart {
    display: none;
    color: red;
}


.card_heart.liked .bx-heart {
    display: none;
}


.card_heart.liked .bxs-heart {
    display: block;
}

.card_heart:hover {
    background-color: #ffebee;
    transform: scale(1.1);
}



@media (max-width: 1024px) {
    .container {
        /* Cho container chiếm 100% trên màn hình nhỏ */
        width: 100%;
        padding-right: 0;
    }

    .main-wrapper {
        flex-direction: column;
    }

    body {
        flex-direction: column;
    }

    .sidebar,
    .container {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;

    }

    .products-grid {
        /* Hiển thị 2 cột trên máy tính bảng */
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .products-grid {
        /* Hiển thị 1 cột trên điện thoại */
        grid-template-columns: 1fr;
    }
}

/*nut loc*/

.filter-bar {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

.filter-button {
    padding: 10px 16px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: background-color 0.3s, border-color 0.3s;
}

.filter-button:hover {
    background-color: #f0f0f0;
    border-color: #999;
}

.filter-button.active {
    background-color: #000;
    color: white;
    border-color: #000;
}

.arrow {
    font-size: 12px;
}

/*phan chon loc */

.filter-container {
    position: relative;
    width: 100%;
    display: block;
}

.filter-container .filter-button {
    width: 100%;
    justify-content: space-between;
}
.delete-button{
    display: none;
}


.dropdown-menu {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    margin-top: 6px;
    padding: 0;
    list-style: none;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    min-width: 180px;
    z-index: 9999;
}

.dropdown-item {
    padding: 10px 16px;
    font-size: 14px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.dropdown-item.selected {
    font-weight: bold;
    color: #000;
}

/*Nền mờ*/
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 10725;
}

.overlay.show {
    opacity: 1;
    pointer-events: auto;
}

/*trượt*/
.filter-panel {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -36rem;
    width: 26rem;
    background: #fff;
    padding: 20px;
    overflow-y: auto;
    transition: left 0.3s ease;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.15);
    z-index: 10750;
}

.filter-panel.show {
    left: 0;
}

/*header*/
.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.close-btn {
    font-size: 28px;
    cursor: pointer;
}

/*footer*/
.filter-footer {
    display: flex;
    gap: 10px;
    padding-top: 20px;
}

.apply {
    flex: 1;
    background: #00ffc8;
    padding: 12px;
    border-radius: 999px;
    border: none;
    cursor: pointer;
}

.reset {
    flex: 1;
    background: white;
    border: 2px solid #000;
    padding: 12px;
    border-radius: 999px;
    cursor: pointer;
}

/*phan chon bo loc(tat ca)*/

.filter-item {
    border-bottom: 1px solid #ddd;
    padding: 14px 0;
    cursor: pointer;
}

.filter-title {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    padding-right: 25px;
}

.filter-title::after {
    content: "v";
    position: absolute;
    right: 0;
    font-size: 18px;
    transition: 0.3s;
}

.filter-item.active .filter-title::after {
    transform: rotate(180deg);
}

.filter-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease;
    padding-left: 2px;
    font-size: 15px;
    margin-top: 6px;
}

.filter-color {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease;
    padding-left: 2px;
    font-size: 15px;
    margin-top: 6px;
}

.filter-color span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0px 5px;
    cursor: pointer;
    border: 2px solid grey;
    transition: border 0.3s;
    margin-top: 3px;
}

.filter-item.active .filter-content {
    max-height: 300px;
}

.filter-item.active .filter-color {
    max-height: 100px;
}

.filter-content label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 8px 0;
    font-size: 16px;
    cursor: pointer;
}

.filter-content input[type='checkbox'] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.filter-color span.selected {
    border: 3px solid black;
    transform: scale(1.15);
}

.reset:hover {
    transform: scale(1.05);
}

.apply:hover {
    transform: scale(1.05);
}

/*phan trang*/
.pagination {
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.page-btn {
    padding: 10px 16px;
    border: none;
    background: grey;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 600;
    transition: 0.3s;
}

.page-btn:hover {
    background: #bdbdbd;
}

.page-btn.active {
    background: #4daf54;
    color: white;
}

/* Footer */
footer{
    background: black;
    padding-top: 50px;
    color: white;
}

.footer-container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer-content{
    width: 33.3%;
}

.footer-content h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p{
    width: 190px;
    margin: auto;
    padding: 7px;
    text-align: left;
}

.footer-content ul{
    text-align: center;
}

.footer-link-list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.footer-link-list a {
    color: white;
}

.footer-link-list a:hover {
    color: blue;
}


.footer-link-list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: blue;
    transition-duration: .5s;
}

.list li:hover::before{
    width: 70px;
}

.social-icons{
    text-align: center;
    padding: 0;
}

.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.social-icons i{
    color: white;
    font-size: 25px;
}

.social-icons a{
    text-decoration: none;
}

.social-icons a:hover{
    color: red;
}

.social-icons i:hover{
    
    color: blue;
}

.bottom-bar{
    background: greenyellow;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

.bottom-bar p{
    color: black;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}



/* ABOUT */

.popup {
    position: relative;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    position: fixed;
    display: none;
    animation-duration: 0.3s;
    background: rgba(0, 0, 0, 0.5);
    z-index: 11000;
    font-size: 16px;
}

#supportPopup .popup-content {
    scroll-behavior: smooth;
    font-family: sans-serif;
    overflow: auto;
    max-height: 610px;
    width: 1340px;
    background-color: white;
    top: 90px;
    /* left: 89px; */
    left: 50%;
    transform: translate(-50%, 0%);
    position: fixed;
    padding: 30px 30px 30px 30px;
    border-radius: 10px;
}

.popup-content .close {
    z-index: 2;
    top: -10px;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all 0.5s;
}

.popup-content .close:hover {
    background: #1ebfc1;
    transform: scale(1.2);
}

#supportPopup .popup-content .header-popup {
    width: auto;
    background: #000000;
    padding: 30px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 4rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #4daf54;
}

#supportPopup .popup-content .nav-popup {
    padding: 20px 20px;
    background: greenyellow;
    display: flex;
    width: auto;
    justify-content: space-between;
}

#supportPopup .popup-content .nav-popup a {
    font-weight: 600;
    font-size: 2.2rem;
    color: #000000;
}

#supportPopup .popup-content .nav-popup a:hover {
    color: #4daf54;
    transition: 0.5s;
}

#supportPopup .popup-content #faq {
    position: relative;
    margin-top: 30px;
}

#supportPopup .popup-content .heading {
    z-index: 3;
    font-size: 2.2rem;
    font-size: 900;
    margin-bottom: 16px;
    color: #000000;
}

#supportPopup .popup-content .desc strong {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    color: #c23564;
    line-height: 2;
}

#supportPopup .popup-content .desc {
    font-size: 1.6rem;
    line-height: 1.44;
}

#supportPopup .popup-content #shipping {
    position: relative;
    margin-top: 30px;
}

#supportPopup .popup-content #returns {
    position: relative;
    margin-top: 30px;
}

#supportPopup .popup-content #contact {
    position: relative;
    margin-top: 30px;
}

#faq::after,
#shipping::after,
#returns::after,
#contact::after {
    position: absolute;
    font-weight: 400;
    content: "";
    width: 100%;
    height: 2px;
    background: greenyellow;
    bottom: -15px;
}

#supportPopup .popup-content .fixed-footer {
    z-index: 1;
    position: sticky;
    bottom: -0px;
}

#supportPopup .popup-content .footer-popup {
    width: auto;
    border-radius: 10px;
    margin-top: 16px;
    padding: 30px;
    display: flex;
    justify-content: center;
    background: greenyellow;
    color: #000000;
}

.popup-open {
    overflow: hidden;
}

#supportPopup .popup-content {
    font-size: 14px;
}

#supportPopup .popup-content .header-popup {
    font-size: 2rem;
    padding: 20px;
}

#supportPopup .popup-content .nav-popup a {
    font-size: 1.3rem;
}

#supportPopup .popup-content .heading {
    font-size: 1.4rem;
}

#supportPopup .popup-content .desc,
#supportPopup .popup-content .desc strong {
    font-size: 1.2rem;
}

/* Footer của popup */
#supportPopup .popup-content .footer-popup {
    font-size: 1.2rem;
    padding: 20px;
}

/*  */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #supportPopup .popup-content .header-popup {
        font-size: 2.4rem;
    }

    #supportPopup .popup-content .nav-popup {
        display: grid;
        row-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }

    #supportPopup .popup-content .nav-popup a {
        width: fit-content;
    }

    #supportPopup .popup-content .nav-popup a:nth-child(even) {
        margin-left: auto;
    }
}

@media screen and (min-width: 375px) and (max-width: 667px) {
    #supportPopup .popup-content .header-popup {
        font-size: 1.9rem;
        word-break: keep-all;
        text-align: center;
    }

    #supportPopup .popup-content .nav-popup {
        display: grid;
        row-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }

    #supportPopup .popup-content .nav-popup a {
        width: fit-content;
        font-size: 1.5rem;
        text-align: center;
    }

    #supportPopup .popup-content .nav-popup a:nth-child(even) {
        margin-left: auto;
    }

    #supportPopup .popup-content .footer-popup {
        text-align: center;
        font-size: 1.4rem;
    }
}