body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}

.wrapper{
    width: 20rem;
    background: #0d0d0d;
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box{
    position: relative;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 1.6em;
    color: white;
    transition: 0.1s ease;
    padding-left: 10px;
}

.labelline{
    position: absolute;
    top: 12px;
    font-size: 1.6em;
    padding: 0 10px;
    margin: 0 20px;
    transition: 0.2s ease;
}

input:focus, input:valid{
    color: skyblue;
    border: 3px solid skyblue;
}

input:focus + .labelline, input:valid + .labelline{
    color: skyblue;
    height: 30px;
    transform: translate(-15px, -40px) scale(0.88);
    z-index: 1111;
    padding: 0 12px;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot a{
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: white;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    box-shadow: 0 0 10px;
    font-weight: 600;
}

#cancel{
    text-decoration: none;
    font-size: 200%;
    color: white;
    outline: none;
    box-shadow: none;
    background: transparent;
    border: none;
    float: right;
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px 0 15px;
}

.register-link p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

.input-box input:focus:invalid + .labelline{
    color: red;
    height: 30px;
    transform: translate(-15px, -40px) scale(0.88);
    z-index: 1111;
    padding: 0 12px;
}

input:invalid{
    color: red;
    border: 3px solid red;
}