.login {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    z-index: 100;
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 11000;
}

.login.active {
    top: 0;
    opacity: 1;
}

.login form {
    width: 25rem;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    text-align: center;
    animation: fadeIn 0.3s ease;
}

.login h1{
    font-size: 36px;
    text-align: center;
}

.login .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box{
    position: relative;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 1.6em;
    color: white;
    transition: 0.1s ease;
    padding-left: 10px;
}

.labelline{
    position: absolute;
    top: 5px;
    font-size: 1.6em;
    padding: 0 10px;
    margin: 0 20px;
    transition: 0.2s ease;
    pointer-events: none;
}

#container input:focus, #container input:valid{
    color: skyblue;
    border: 3px solid skyblue;
}

input:focus + .labelline, input:valid + .labelline{
    color: skyblue;
    height: 25px;
    transform: translate(-15px, -40px) scale(0.88);
    z-index: 1111;
    padding: 0 12px;
}

.login .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot a{
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.login .btn{
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: white;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    box-shadow: 0 0 10px;
    font-weight: 600;
}

#cancel{
    text-decoration: none;
    font-size: 200%;
    color: white;
    outline: none;
    box-shadow: none;
    background: transparent;
    border: none;
    float: right;
}

.login .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px 0 15px;
}

.register-link p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

.login.closing form {
    animation: slideOut 0.4s ease forwards;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-30px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes slideOut {
    from { opacity: 1; transform: translateY(0); }
    to { opacity: 0; transform: translateY(-30px); }
}

.input-box input.touched:invalid {
    border: 3px solid red;
    color: red;
}

.input-box input.touched:invalid + .labelline {
    color: red;
}


.input-box input:invalid:focus + .labelline,
.input-box input:invalid:valid + .labelline {
    transform: translate(-15px, -40px) scale(0.88);
    height: 25px;
    padding: 0 12px;
}

.login {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    z-index: 100;
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 11000;
}

.login.active {
    top: 0;
    opacity: 1;
}

.login form {
    width: 25rem;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    text-align: center;
    animation: fadeIn 0.3s ease;
}

.login h1{
    font-size: 36px;
    text-align: center;
}

.login .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box{
    position: relative;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 1.6em;
    color: white;
    transition: 0.1s ease;
    padding-left: 10px;
}

.labelline{
    position: absolute;
    top: 5px;
    font-size: 1.6em;
    padding: 0 10px;
    margin: 0 20px;
    transition: 0.2s ease;
    pointer-events: none;
}

#container input:focus, #container input:valid{
    color: skyblue;
    border: 3px solid skyblue;
}

input:focus + .labelline, input:valid + .labelline{
    color: skyblue;
    height: 25px;
    transform: translate(-15px, -40px) scale(0.88);
    z-index: 1111;
    padding: 0 12px;
}

.login .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot a{
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.login .btn{
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: white;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    box-shadow: 0 0 10px;
    font-weight: 600;
}

#cancel{
    text-decoration: none;
    font-size: 200%;
    color: white;
    outline: none;
    box-shadow: none;
    background: transparent;
    border: none;
    float: right;
}

.login .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px 0 15px;
}

.register-link p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

.login.closing form {
    animation: slideOut 0.4s ease forwards;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-30px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes slideOut {
    from { opacity: 1; transform: translateY(0); }
    to { opacity: 0; transform: translateY(-30px); }
}

.input-box input.touched:invalid {
    border: 3px solid red;
    color: red;
}

.input-box input.touched:invalid + .labelline {
    color: red;
}


.input-box input:invalid:focus + .labelline,
.input-box input:invalid:valid + .labelline {
    transform: translate(-15px, -40px) scale(0.88);
    height: 25px;
    padding: 0 12px;
}

/* Ẩn cả 2 form mặc định */
#loginForm,
#registerForm {
  display: none;
}

/* Hiển thị khi có class .active */
#loginForm.active,
#registerForm.active {
  display: flex;
}




