:root {
    --primary-color: #4daf54;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
    height: 8rem;
}

nav {
    position: fixed;
    width: 100%;
    padding: 0.5rem 1rem;
    background: white;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    margin-top: 0;
    z-index: 10500;
    top: 0;
    left: 0;
}

nav.detail-view .btns {
    margin-left: auto;
}

nav.detail-view .logo {
    margin-right: auto;
}

.logo {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.logo img {
    width: 100%;
    height: 6rem;
    object-fit: contain;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.nav-links li a {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #4daf54;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
}

.nav-links li a:hover {
    color: black;
}

.nav-links li a:hover::after {
    width: 100%;
    left: 0;
    background: #4daf54;
}

.btns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-login {
    padding: 10px 25px;
    gap: 10px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 18px;
    color: black;
    border: none;
    cursor: pointer;
    margin: 20px 10px;
    background: #4daf54;
}

.btn-login:hover {
    background: #2980b9;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-btn {
    display: none;
    font-size: 36px;
    cursor: pointer;
    padding: 5px;
    user-select: none;
    margin-left: auto;
}


@media (max-width: 768px) {
    .nav-links {
        position: fixed;
        top: 64px;
        right: -100%;
        background: white;
        width: 70%;
        height: 100vh;
        flex-direction: column;
        padding-top: 2rem;
        gap: 1.5rem;
        transition: 0.4s ease;
        box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
        z-index: 9999;
        margin-left: 0;
        margin-right: 0;
    }

    .nav-links.show {
        right: 0;
    }

    .btns {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    nav.detail-view .logo,
    nav.detail-view .nav-links,
    nav.detail-view .btns {
        margin-left: 10px;
    }
}

.nav-back-button {
    display: none;
    align-items: center;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: all 0.3s;
    border: 2px solid #4daf54;
    border-radius: 25px;
    background: white;
    text-decoration: none;
    margin-right: 20px;
}

.nav-back-button:hover {
    background-color: #4daf54;
    color: white;
    transform: scale(1.05);
}
