:root {
    --primary-color: #4daf54;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
    height: 5rem;
}

nav {
    position: fixed;
    width: 100%;
    padding: 1rem;
    background: white;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    z-index: 10500;
    top: 0;
    left: 0;
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;

}

.nav-links li a {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #4daf54;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
}

.nav-links li a:hover {
    color: black;
}

.nav-links li a:hover::after {
    width: 100%;
    left: 0;
    background: #4daf54;
}

.btns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-login {
    padding: 10px 25px;
    gap: 10px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 18px;
    color: black;
    border: none;
    cursor: pointer;
    margin: 20px 10px;
    background: #4daf54;
}

.btn-login:hover {
    background: #2980b9;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-btn {
    display: none;
    font-size: 36px;
    cursor: pointer;
    padding: 5px;
    user-select: none;
}


@media (max-width: 768px) {
    .nav-links {
        position: fixed;
        top: 64px;
        right: -100%;
        background: white;
        width: 70%;
        height: 100vh;
        flex-direction: column;
        padding-top: 2rem;
        gap: 1.5rem;
        transition: 0.4s ease;
        box-shadow: -2px 0 10px rgba(0,0,0,0.2);
        z-index: 9999;
    }

    .nav-links.show {
        right: 0;
    }

    .btns {
        display: none;
    }

    .menu-btn {
        display: block;
    }

}